<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% if title %}
        <title>VOICE AGENDA - {{title}} </title>
    {% else %}
        <title>VOICE AGENDA </title>
    {% endif %}
</head>
<body>
    {% block content %}
    <h1> ABOUT VOICE AGENDA </h1>
    <p> Flask is a micro web framework written in Python.</p>
    <p>
        Applications that use the Flask framework include Pinterest,
        LinkedIn, and the community web page for Flask itself.
    </p>
    {% endblock %}
</body>
</html>